  <div class="container">
    <div class="box mt-3">
      <h2 class="title mt-5">お気に入りした投稿一覧</h2>
      <h4 class="mt-5">お気に入りすることで参考になった投稿をすぐに見返すことができます！</h4>
      <p class="mt-1">自分の投稿もお気に入りすることができます！</p>
      <% if @favorite_posts.count == 0 %>
        <div class="mt-5"><%= link_to "投稿一覧からお気に入り投稿を探す",posts_path, class:"btn btn-warning" %></div>
        <h4 class="title mt-5">参考画像</h4>
         <div class="favorite-sample_image"></div>
      <% else %>
        <% @favorite_posts.each do |posts| %>
        <div class="post-index">
          <div class="l-wrapper">
            <div class="card">
              <%= render partial: "public/posts/post_header", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_main", locals:{posts: posts} %>
              <div class="card-link">
                <p class="mr-3">投稿日 : <%= posts.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                <%= link_to post_customer_favorite_path(posts), method: :delete do %>
                  <p class="btn btn-outline-danger mt-2">お気に入り解除</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
       <% end %>
      <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <div class="page mb-5">
          <%= paginate @favorite_posts %>
        </div>
      </div>
  </div>

