  <div class="container">
    <!---プロフィール--->
    <div class="profile">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin: 0 auto;">
          <a class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
            Profile
          </a>
          <% if @customer.id == current_customer.id %>
          <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
            Katute
          </a>
          <a class="nav-link" id="nav-message-tab" data-bs-toggle="tab" href="#nav-message" role="tab" aria-controls="nav-message" aria-selected="false">
            Message
            <% if unchecked_notifications.any? %>
            <!--unchecked_notificationsはnotifications_helper.rbに定義-->
            <!--checked => true（未読メッセージがある時）はベルを表示-->
            <i class="far fa-bell" style="font-size: 0.7em; color: red;"></i>
            <% end %>
          </a>
          <% end %>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent" style="margin-bottom: 10px; height: 100%;">
      <!---プロフィールタブ--->
      <div class="tab-pane fade  show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="profile-box">
          <div class="profile-side">
            <%=attachment_image_tag @customer, :profile_image, :fill,100,100,fallback: "no_image.png",size:"100x100", class:"mt-2 rounded-circle"; %>
            <div class="ml-2 mt-2 mb-2"><%= @customer.username %></div>
            <div class="button mt-3">
              <% if @customer.id == current_customer.id %>
              <!--自分のマイページ表示時-->
                <p><%= link_to "フォロー中 #{@customer.following_customer.where.not(id: current_customer.id).count}",customer_follower_path(@customer) %></p>
                <p><%= link_to "フォロワー: #{@customer.follower_customer.where.not(id: current_customer.id).count}",customer_followed_path(@customer) %></p>
                <p><%= link_to "ユーザー情報編集", edit_customer_path(current_customer),class:"btn btn-info btn-sm" %></p>
                <p><%= link_to "マイ施設の編集", admin_admin_users_path, class: "btn btn-warning btn-sm" %></p>
              <% else %>
              <!--他人のマイページ表示時-->
                <% if current_customer.following?(@customer) %>
                  <%= link_to 'フォロー外す', unfollow_path(@customer.id), method: :POST ,class:"btn btn-outline-danger btn-sm"%>
                <% else %>
                  <%= link_to 'フォローする', follow_path(@customer.id), method: :POST,class:"btn btn-outline-warning btn-sm"  %>
                <% end %>
              <% end %>
            </div>
            <div class="chat mt-3">
              <% if @customer.id != current_customer.id %>
                <%= link_to 'メッセージ', chat_path(@customer.id),class:"btn btn-outline-info btn-sm" %>
              <% end %>
            </div>
            <div class="follow mt-3">
              <% if @customer.id != current_customer.id %>
　　　　　　　  <p><%= link_to "フォロー中: #{@customer.following_customer.count}",customer_follower_path(@customer) %></p>
                <p><%= link_to "フォロワー: #{@customer.follower_customer.count}",customer_followed_path(@customer) %></p>
              <% end %>
            </div>
          </div>
          <div class="profile-main">
            <div class="introduction mt-2" style="color:black;"><%=simple_format @customer.introduction %></div>
            <div class="body-data">
              <div>BodyDataの公開設定</br>
              <% if @customer.is_show %>
                <p class="text-success">公開中</p>
              <% else %>
                <p class="text-danger">未公開</p>
              <% end %>
              </div>
              <% if @customer == current_customer || @customer.is_show %>
              <!--ログイン中のユーザーのマイページの時または公開中に設定しているユーザーのマイページはBodydataを表示する-->
              ---BodyData---
              <p>性別: <%= @customer.sex %></p>
              <p>年齢: <%= @customer.age%> 才</p>
              <p>身長: <%= @customer.height %> cm</p>
              <p>体重: <%= @customer.weight %> kg</p>
              <p>体脂肪率: <%= @customer.fat_percentage %> %</p>
            <% end %>

            <% if @customer.id == current_customer.id %>
            <!--自分のマイページ表示時-->
              ---登録中の施設---
              <% @my_fitness_places.each do |my_fitness_place| %>
              <p class="my_fitness_place">
                ・<%= my_fitness_place.admin_user.name %>
              </p>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <!--カルテタブ-->
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <% if @customer.id == current_customer.id %>
          <h5 class="karute mt-3 mb-3" style= "color:black;" >作成中のカルテ</h5>
          <% if @karutes == [] %>
            現在、作成中のカルテはありません
          <% else %>
            <% @karutes.each do |karute| %>
            <p style="color: black;">担当者: <%= link_to karute.staff_name, admin_karute_path(karute) %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <!--メッセージタブ-->
      <div class="tab-pane fade" id="nav-message" role="tabpanel" aria-labelledby="nav-message-tab">
        <% notifications = @notifications.where.not(visitor_id: current_customer.id) %>
          <!--自分に対するメッセージは通知に表示しない-->
        <% if notifications.exists? %>
          <%= render notifications %>
          <!--notificationsは複数データが存在するので、複数形にすることでインスタンスの数だけ部分テンプレートが呼び出される-->
          <!--１つ１つのnotificationを部分テンプレートで使用できる-->
        <% else %>
          <h5 class="message mt-3 mb-3" style= "color:black;" >新着メッセージはありません</h5>
        <% end %>
      </div>

      </div>
    </div>

  <!---自分の投稿一覧--->
    <div class="main">
      <% if @customer.id == current_customer.id %>
        <div class="mypage-contents">
          <div class="mypage-contents-line">
              <div class="box-blue">
                <div class="btn-circle-border-double">
                  <%= link_to  new_post_path do %>
                    <i class="far fa-edit" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">投稿作成</p>
                <p class="mypage-btn-discription">トレーニング内容や食事の記録</p>
                <p class="mypage-btn-discription">フィットネスに関する</br>情報の発信ができます！</p>
              </div>
              <div class="box-blue">
                <div class="btn-circle-border-double">
                  <%= link_to posts_mypost_path do %>
                    <i class="fas fa-user-edit" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">My投稿一覧</p>
                <p class="mypage-btn-discription">自分の投稿の確認や編集、削除</p>
                <p class="mypage-btn-discription">他のユーザーからのコメントやお気に入りの確認ができます
            </div>
              </div>
          </div>
          <div class="mypage-contents-line">
              <div class="box-blue">
                <div class="btn-circle-border-double-favorite">
                  <%= link_to customer_favorite_path do %>
                    <i class="far fa-heart" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">お気に入りした投稿一覧</p>
                <p class="mypage-btn-discription">参考になった投稿を</p>
                <p class="mypage-btn-discription">お気に入り（❤️）することで</br>すぐに見返すことができます</p>
              </div>
              <div class="box-blue">
                <div class="btn-circle-border-double">
                  <%= link_to posts_path do %>
                    <i class="fas fa-file-signature" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">全投稿一覧</p>
                <p class="mypage-btn-discription">全ユーザーの投稿一覧</p>
                <p class="mypage-btn-discription">キーワード検索で気になるワードに<br>関する投稿をすぐ探せます
              </div>
          </div>
         <!--検索関係-->
          <div class="mypage-contents-line">
              <div class="box-green">
                <div class="btn-circle-border-double-green">
                  <%= link_to search_path do %>
                    <i class="fas fa-search" style="color: #33FF33;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">体型の近い人を探す</p>
                <p class="mypage-btn-discription">どんな運動をしたらいいかわからない時は,
                自分の体型に近い人の運動メニューを参考にしましょう！</p>
              </div>
              <div class="box-green">
                <div class="btn-circle-border-double-green">
                  <%= link_to search_friend_path do %>
                    <i class="fas fa-users" style="color: #33FF33;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">友達を探す</p>
                <p class="mypage-btn-discription">全ユーザーの中から友達を探して</p>
                <p class="mypage-btn-discription">フォローやメッセージを送りましょう！
              </div>
          </div>
      <% end %>
    </div>
  </div>

