  <div class="container">
    <!---プロフィール--->
    <% if @customer.id == current_customer.id %>
      <h2 class="main-title">MYPAGE</h2>
    <% else %>
      <h2 class="main-title"><%= @customer.username %> 's PAGE</h2>
    <% end %>

    <div class="profile">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin: 0 auto;">
          <a class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
            Profile
          </a>
          <% if @customer.id == current_customer.id %>
          <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
            Katute
          </a>
          <a class="nav-link" id="nav-message-tab" data-bs-toggle="tab" href="#nav-message" role="tab" aria-controls="nav-message" aria-selected="false">
            Message
            <% if unchecked_notifications.any? %>
            <!--unchecked_notificationsはnotifications_helper.rbに定義-->
            <!--checked => true（未読メッセージがある時）はベルを表示-->
            <i class="far fa-bell" style="font-size: 0.7em; color: red;"></i>
            <% end %>
          </a>
          <% end %>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent" style="margin-bottom: 10px; height: 100%;">
      <!---プロフィールタブ--->
      <div class="tab-pane fade  show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="profile-box">
          <div class="profile-side">
            <%=attachment_image_tag @customer, :profile_image, :fill,100,100,fallback: "no_image.png",size:"100x100", class:"mt-2 rounded-circle"; %>
            <div class="ml-2 mt-2 mb-2"><%= @customer.username %></div>
            <div class="button mt-3">
              <% if @customer.id == current_customer.id %>
              <!--自分のマイページ表示時-->
                <p><%= link_to "フォロー中: #{@customer.following_customer.where.not(id: current_customer.id).count}",customer_follower_path(@customer) %></p>
                <p><%= link_to "フォロワー: #{@customer.follower_customer.where.not(id: current_customer.id).count}",customer_followed_path(@customer) %></p>
                <p>BodyDataの公開設定</p>
                <% if @customer.is_show %>
                  <p class="text-success">公開中</p>
                <% else %>
                  <p class="text-danger">未公開</p>
                <% end %>
                <p><%= link_to "ユーザー情報編集", edit_customer_path(current_customer),class:"btn btn-info btn-sm" %></p>
              <% else %>
              <!--他人のマイページ表示時-->
                <% if current_customer.following?(@customer) %>
                  <%= link_to 'フォロー外す', unfollow_path(@customer.id), method: :POST ,class:"btn btn-outline-danger btn-sm"%>
                <% else %>
                  <%= link_to 'フォローする', follow_path(@customer.id), method: :POST,class:"btn btn-outline-warning btn-sm"  %>
                <% end %>
              <% end %>
            </div>
            <div class="chat mt-3">
              <% if @customer.id != current_customer.id %>
                <%= link_to 'メッセージ', chat_path(@customer.id),class:"btn btn-outline-info btn-sm" %>
              <% end %>
            </div>
            <div class="follow mt-3">
              <% if @customer.id != current_customer.id %>
　　　　　　　  <p><%= link_to "フォロー中: #{@customer.following_customer.count}",customer_follower_path(@customer) %></p>
                <p><%= link_to "フォロワー: #{@customer.follower_customer.count}",customer_followed_path(@customer) %></p>
              <% end %>
            </div>
          </div>
          <div class="profile-main">
            <p style="color: red;">---自己紹介---</p>
            <div class="introduction mt-2" style="color:black;"><%=simple_format @customer.introduction %></div>
            <div class="body-data">
              <div>
                <% if @customer.id != current_customer.id %>
                  <p style="color: red;">---BodyDataの公開設定---</p>
                  <% if @customer.is_show %>
                    <p class="text-success">公開中</p>
                  <% else %>
                    <p class="text-danger">未公開</p>
                  <% end %>
                <% end %>
                </div>
              <% if @customer == current_customer || @customer.is_show %>
              <!--ログイン中のユーザーのマイページの時または公開中に設定しているユーザーのマイページはBodydataを表示する-->
              <p style="color: red;">---BodyData---</p>
              <p>性別: <%= @customer.sex %></p>
              <p>年齢: <%= @customer.age%> 才</p>
              <p>身長: <%= @customer.height %> cm</p>
              <p>体重: <%= @customer.weight %> kg</p>
              <p>体脂肪率: <%= @customer.fat_percentage %> %</p>
            <% end %>

            <% if @customer.id == current_customer.id %>
            <!--自分のマイページ表示時-->
              <p style="color: red;">---登録中のフィットネスクラブ---</p>
              <% @my_fitness_places.each do |my_fitness_place| %>
              <p class="my_fitness_place">
                ・<%= my_fitness_place.admin_user.name %>
              </p>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <!--カルテタブ-->
      <% if @customer.id == current_customer.id %>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="tab-box">
          <div class="karute-img">
            <div class="karute-img-text-area">
              <h3 class="karute-img-text">パーソナルトレーナーとあなたとの間にカルテを作成して</br>より効果的にトレーニングを行いましょう！</h3>
              <div class="karute-img-text-attention">※カルテは担当のパーソナルトレーナーが作成することで表示されます</br>
                ※カルテは担当者とあなた双方が閲覧・編集が可能です！
              </div>
            </div>
          </div>

          <h5 class="karute mt-3 mb-3 ml-3" style= "color:black;" >作成中のカルテ</h5>
          <% if @karutes == [] %>
            現在、作成中のカルテはありません
          <% else %>
            <% @karutes.each do |karute| %>
            <p class="ml-3" style="color: black;">担当者: <%= link_to karute.staff_name, admin_karute_path(karute) %></p>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>

      <!--メッセージタブ-->
      <% if @customer.id == current_customer.id %>
      <div class="tab-pane fade" id="nav-message" role="tabpanel" aria-labelledby="nav-message-tab">
        <div class="tab-box">
          <div class="message-img">
            <div class="message-img-text-area">
              <h3 class="message-img-text">
                メッセージを送ることでユーザー同士、交流できます！
              </h3>
              <div class="message-img-text-attention">
                ※こちらからメッセージを送る際は、送る相手のマイページから送信可能です
              </div>
            </div>
          </div>
          <% notifications = @notifications.where.not(visitor_id: current_customer.id) %>
          <!--自分に対するメッセージは通知に表示しない-->
          <% if notifications.exists? %>
            <%= render notifications %>
          <!--notificationsは複数データが存在するので、複数形にすることでインスタンスの数だけ部分テンプレートが呼び出される-->
          <!--１つ１つのnotificationを部分テンプレートで使用できる-->
          <% else %>
            <h5 class="message mt-3 mb-3 ml-3" style= "color:black;" >新着メッセージはありません</h5>
          <% end %>
        </div>
      </div>
      <% end %>
      </div>
    </div>

  <!---機能ボタン--->
    <% if @customer.id == current_customer.id %>
      <div class="main">
        <h2 class="main-title-center">USE THIS SITE</h2>
        <div class="mypage-contents">
          <div class="mypage-contents-line">
              <div class="box-blue">
                <div class="btn-circle-border-double">
                  <%= link_to  new_post_path do %>
                    <i class="far fa-edit" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-3 mb-2">投稿作成</p>
                <p class="mypage-btn-discription mt-4">トレーニング内容や食事の記録</p>
                <p class="mypage-btn-discription">フィットネスに関する</br>情報の発信ができます！</p>
              </div>
              <div class="box-blue">
                <div class="btn-circle-border-double">
                  <%= link_to posts_ranking_path do %>
                    <i class="fas fa-crown" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-3 mb-2">人気投稿TOP3</p>
                <p class="mypage-btn-discription mt-4">お気に入りした数が</p>
                <p class="mypage-btn-discription">多い投稿TOP3で表示
              </div>
              <div class="box-blue">
                <div class="btn-circle-border-double-favorite">
                  <%= link_to customer_favorite_path do %>
                    <i class="far fa-heart" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">お気に入りした</br>投稿一覧</p>
                <p class="mypage-btn-discription mt-2">参考になった投稿を</p>
                <p class="mypage-btn-discription">お気に入り（❤️）することで</br>すぐに見返すことができます</p>
              </div>
              <div class="box-blue">
                <div class="btn-circle-border-double">
                  <%= link_to posts_path do %>
                    <i class="fas fa-file-signature" style="color: #4ec4d3;"></i>
                  <% end %>
                </div>
                <p class="mt-3 mb-2">全投稿一覧</p>
                <p class="mypage-btn-discription mt-4">
                キーワード検索で気になるワードに関する投稿をすぐ探せます</p>
              </div>
            </div>
          </div>

          <div class="mypage-contents-line">
            <!--検索関係-->
              <div class="box-green">
                <div class="btn-circle-border-double-green">
                  <%= link_to search_path do %>
                    <i class="fas fa-search" style="color: #33FF33;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">体型の近い人を探す</p>
                <p class="mypage-btn-discription mt-4">どんな運動をしたらいいかわからない時は,
                自分の体型に近い人の運動メニューを参考にしましょう！</p>
              </div>
              <div class="box-green">
                <div class="btn-circle-border-double-green">
                  <%= link_to search_friend_path do %>
                    <i class="fas fa-users" style="color: #33FF33;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">友達を探す</p>
                <p class="mypage-btn-discription mt-4">全ユーザーの中から友達を探してフォローやメッセージを送りましょう！</p>
              </div>
              <!--施設登録関係-->
              <div class="box-red">
                <div class="btn-circle-border-double-red">
                  <%= link_to public_admin_posts_path do %>
                    <i class="fas fa-mail-bulk" style="color: red;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">My施設からの情報</p>
                <p class="mypage-btn-discription mt-4">登録した施設から発信された情報を確認できます</p>
              </div>
              <div class="box-red">
                <div class="btn-circle-border-double-red">
                  <%= link_to admin_admin_users_path do %>
                    <i class="fas fa-house-user" style="color: red;"></i>
                  <% end %>
                </div>
                <p class="mt-2 mb-2">My施設を登録・編集</p>
                <p class="mypage-btn-discription mt-4">自分の通っている施設を登録して情報を受け取りましょう！</p>
              </div>
          </div>
        </div>
      <% end %>

    <div class="mypage-post">
      <% if @customer.id == current_customer.id %>
        <h2 class="main-title-center">MY POST</h2>
      <% else %>
        <h2 class="main-title-center"><%= @customer.username %> `s POST</h2>
      <% end %>
      <div class="mypage-post-index">
        <% @posts.each do |posts| %>
          <div class="l-wrapper">
            <div class="card">
              <%= render partial: "public/posts/post_main", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_footer", locals:{posts: posts} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="page mb-5">
        <%= paginate @posts %>
      </div>
    </div>

  </div>

