<div class="container">
    <div class="box mt-3 mb-3">
      <h2 class="title"><%= @customer.username %>さんのマイページ</h2>
    </div>

  <div class="row">
    <div class="col-md-3 com-sm-3 col-xs-2">

      <div class="card border-success  mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success text-success">
          <div>
              <%=attachment_image_tag @customer, :profile_image, :fill,60,60,fallback: "no_image.png",size:"60x60", class:"mt-2 rounded-circle"; %>
            <span class="ml-3"><%= @customer.username %></span>
          </div>
          <div class="introduction mt-2" style="color:black;"><%=simple_format @customer.introduction %></div>
          <div class="button">
            <% if @customer.id == current_customer.id %>
              <p><%= link_to "フォローした人: #{@customer.following_customer.where.not(id: current_customer.id).count}",customer_follower_path(@customer),class:"btn btn-outline-danger" %></p>
              <p><%= link_to "フォローされた人: #{@customer.follower_customer.where.not(id: current_customer.id).count}",customer_followed_path(@customer),class:"btn btn-outline-danger" %></p>
            <% else %>
              <% if current_customer.following?(@customer) %>
                <%= link_to 'フォロー外す', unfollow_path(@customer.id), method: :POST,class:"btn btn-outline-danger" %>
              <% else %>
                <%= link_to 'フォローする', follow_path(@customer.id), method: :POST,class:"btn btn-outline-success"  %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="card-body ">
           <h5 class="card-title">ユーザー情報</h5>
           <p class="card-text">
              <p>フォローワー</p>
              <p>フォロー中</p>
            <% if @customer == current_customer || @customer.is_show %>
            <!--ログイン中のユーザーのマイページの時または公開中に設定しているユーザーのマイページはBodydataを表示する-->
              <p>---Body Data---</br></p>
              <p>性別: <%= @customer.sex %></p>
              <p>年齢: <%= @customer.age%> 才</p>
              <p>身長: <%= @customer.height %> cm</p>
              <p>体重: <%= @customer.weight %> kg</p>
              <p>体脂肪率: <%= @customer.fat_percentage %> %</p>
            <% end %>
            <div>BodyDataの公開設定</br>
              <% if @customer.is_show %>
                <p class="text-success">公開中</p>
              <% else %>
                <p class="text-danger">未公開</p>
              <% end %>
            </div>

            <% if @customer.id == current_customer.id %>
              <%= link_to "ユーザー情報編集", edit_customer_path(current_customer),class:"btn btn-info" %>
            <% end %>
         </div>
       <div class="card-footer bg-transparent border-success text-success">
          <% if @customer.id == current_customer.id %>
          <p>
            <%= link_to "いいねした投稿一覧", customer_favorite_path,class:"btn btn-outline-danger" %>
          </p>
          <% else %>
            <p>メッセージを送る</p>
          <% end %>
      </div>
      </div>
    </div>

  <!-----------------------------------ここまでサイドバー-------------------------------------------------->

    <div class="col-md-8 col-sm-8 col-xs-9 offset-1">
          <% @posts.each do |posts| %>
        <div>
          <div class="card border-success mb-3">
            <div class="card-header bg-transparent border-success">
              <% if posts.status == "トレーニングメニュー" %>
                <h5 class="text-danger"><%= posts.status %></h5>
              <% elsif posts.status == "食事" %>
                <h5 class="text-warning"><%= posts.status %></h5>
              <% else posts.status == "知識" %>
                <h5 class="text-primary"><%= posts.status %></h5>
              <% end %>
            </div>
              <div class="card-body">
                <h5 class="card-text-title"><%= link_to posts.title,post_path(posts.id),class:"text-dark" %></h5>
                  <p class="card-text"><%= simple_format posts.body %></p>
                  <div>
                    <p><%= attachment_image_tag posts,:image, :fill,60,60 %></p>
                  </div>
              </div>
            <div class="card-footer bg-transparent border-success">
              <%= posts.updated_at.strftime("%Y/%m/%d %H:%M") %>
              <span class="ml-3 mr-3"><i class="fas fa-heart mr-1" style="color:red;"></i><%= link_to posts.favorites.count,from_favorite_path(posts) %></span>
              <span class="mr-3"><i class="far fa-comment-dots mr-1"></i><%= link_to posts.post_comments.count,post_path(posts.id) %></span>
              <% if @customer.id == current_customer.id %>
              <span class="mr-2"><%= link_to "編集",edit_post_path(posts.id), class:"btn btn-info"  %></span>
                <%= link_to "削除", post_path(posts.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger"  %>
            　<% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="page mb-5">
      <%= paginate @posts %>
    </div>
  </div>
</div>

