  <div class="search mt-3 mb-3">
    <h5>キーワード検索</h5><h6>例：脂肪燃焼・筋トレ</h6>
      <%= form_tag(search_post_path,:method => 'get') do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索'%>
      <% end %>
  </div>

  <% posts.each do |posts| %><!-- @posts → posts -->
    <div class="l-wrapper">
      <div class="card">
        <div class="card-user-profile">
          <%= attachment_image_tag posts.customer, :profile_image, :fill, 100, 100, fallback: "no_image.png",size: "100x100",class:"mr-4 mt-2 rounded-circle";  %>
          <%= link_to posts.customer.username, customer_path(posts.customer.id)  %>
        </div>
        <div class="card-img">
          <p>
            <% if posts.post_images.present? %>
                <div class="slider">
                  <% posts.post_images.each do |image| %>
                    <%= attachment_image_tag image, :image, :fill, 500, 500, format: "jpeg" %>
                  <% end %>
                </div>
            <% end %>
          </p>
        </div>

        <div class="card-content">
          <p class="card-title"><%= link_to posts.title,post_path(posts.id) %></p>
          <p class="card-text"><%= simple_format posts.body %></p>
        </div>
        <div class="card-link">
          <span class="mr-3">投稿日：<%= posts.created_at.strftime('%Y/%m/%d %H:%M') %></span>
          <span id="posts_<%= posts.id %>">
            <%= render "public/favorites/favorite", posts: posts %>
          </span>
          <span class="ml-3"><%= link_to posts.post_comments.count, post_path(posts.id), class:"far fa-comment-dots"%></span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <div class="page mb-5">
      <%= paginate posts %> <!-- @posts → posts -->
    </div>
  </div>