<div class="container">
  <div class="box mt-3">
    <h2 class="title mt-5">投稿を編集</h2>
    <%= form_with model: @post, local:true do |f| %>
    <div class="field mt-3">
      <div class="label">
        <%= f.label :"投稿ジャンルの選択（必須）" %>
      </div>
        <%= f.label :"トレーニングメニュー"  %>
        <%= f.radio_button :status, :"トレーニングメニュー"%></br>
        <%= f.label :"食事"  %>
        <%= f.radio_button :status, :"食事" %></br>
        <%= f.label :"情報の共有"  %>
        <%= f.radio_button :status, :"情報の共有" %>
    </div>

    <div class="field mt-3">
      <div class="label">
        <%= f.label :"タイトル（必須）"  %>
      </div>
        <%= f.text_field :title,required: true %>
    </div>

    <div class="field mt-3">
      <div class="label">
        <%= f.label :"記入欄(必須)" %>
      </div>
        <%= f.text_area :body,required: true, class:"body" %>
    </div>

    <div class="field mt-3">
      <div class="label">
        <%= f.label :"画像(任意)" %><br />
          </div>
          <%= attachment_image_tag @post, :image, :fill,80,80 %>
          <%= f.attachment_field :post_images_images, multiple: true %>
        </div>

    <div class="actions mt-3 mb-3">
      <%= f.submit "変更する", class: "btn btn-primary mb-5" %>
    </div>
    <% end %>
  </div>
</div>
