<div class="container">

  <div class="dropdown" style="margin: 20px auto; text-align: center;">
    <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      ジャンルごとの投稿一覧
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li class="ml-2 mr-2">
        <%= form_tag(search_mypage_post_path,:method => 'get') do %>
          <%= hidden_field_tag :search, 0 %>
          <%= submit_tag 'トレーニングメニュー'%>
        <% end %>
      </li>
      <li class="mt-3 ml-2">
        <%= form_tag(search_mypage_post_path,:method => 'get') do %>
          <%= hidden_field_tag :search, 1 %>
          <%= submit_tag '食事'%>
        <% end %>
      </li>
      <li class="mt-3 ml-2">
        <%= form_tag(search_mypage_post_path,:method => 'get') do %>
          <%= hidden_field_tag :search, 2 %>
          <%= submit_tag "情報の共有" %>
        <% end %>
      </li>
    </ul>
  </div>

<div class="box">
  <% @posts.each do |posts| %>
        <div>
          <div class="card border-success mb-3" style="width: 70%; margin: 0 auto">
            <div class="card-header bg-transparent border-success">
              <% if posts.status == "トレーニングメニュー" %>
                <h5 class="text-danger"><%= posts.status %></h5>
              <% elsif posts.status == "食事" %>
                <h5 class="text-warning"><%= posts.status %></h5>
              <% else posts.status == "知識" %>
                <h5 class="text-primary"><%= posts.status %></h5>
              <% end %>
            </div>
              <div class="card-body">
                <h5 class="card-text-title"><%= link_to posts.title,post_path(posts.id),class:"text-dark" %></h5>
                  <p class="card-text"><%= simple_format posts.body %></p>
                  <div>
                    <% if posts.post_images.present? %>
                      <div class="slider">
                        <% posts.post_images.each do |image| %>
                            <%= attachment_image_tag image, :image, :fill, 300, 300, format: "jpeg" %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div>投稿日:<%= posts.updated_at.strftime("%Y/%m/%d %H:%M") %></div>
              </div>
            <div class="card-footer bg-transparent border-success">
              <span class="ml-3 mr-3"><i class="fas fa-heart mr-1" style="color:red;"></i><%= link_to posts.favorites.count,from_favorite_path(posts) %></span>
              <span class="mr-3"><i class="far fa-comment-dots mr-1"></i><%= link_to posts.post_comments.count,post_path(posts.id) %></span>
              <span class="mr-2"><%= link_to "編集",edit_post_path(posts.id), class:"btn btn-info btn-sm"  %></span>
                <%= link_to "削除", post_path(posts.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-sm"  %>
            </div>
          </div>
        </div>
      <% end %>
    <div class="d-flex justify-content-center">
      <div class="page mb-5">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>