 <div class ="container">
    <div class="box mt-3">
      <h2 class="title mt-5">お気に入り数の多い投稿 TOP3</h2>
      <div class="post-index">
        <h3 class="mt-5">トレーニングメニュー TOP3</h2>
        <% @posts_training_top3.each_with_index do |posts,i| %>
         <h3 class="ranking-number"><i class="fas fa-crown" style="color: gold"></i>   No. <%= i+1 %>   <i class="fas fa-crown" style="color: gold"></i></h3>
          <div class="l-wrapper">
            <div class="card">
              <%= render partial: "public/posts/post_header", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_main", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_footer", locals:{posts: posts} %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="post-index">
        <h3 class="mt-5">食事 TOP3</h2>
        <% @posts_eat_top3.each_with_index do |posts,i| %>
        <h3 class="ranking-number"><i class="fas fa-crown" style="color: gold"></i>   No. <%= i+1 %>   <i class="fas fa-crown" style="color: gold"></i></h3>
          <div class="l-wrapper">
            <div class="card">
              <%= render partial: "public/posts/post_header", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_main", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_footer", locals:{posts: posts} %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="post-index">
        <h3 class="mt-5">情報の共有 TOP3</h2>
        <% @posts_info_top3.each_with_index do |posts,i| %>
        <h3 class="ranking-number"><i class="fas fa-crown" style="color: gold"></i>   No. <%= i+1 %>   <i class="fas fa-crown" style="color: gold"></i></h3>
          <div class="l-wrapper">
            <div class="card">
              <%= render partial: "public/posts/post_header", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_main", locals:{posts: posts} %>
              <%= render partial: "public/posts/post_footer", locals:{posts: posts} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>