  <div class ="container">
    <div class="box mt-3">
      <h2 class="title mt-3">投稿詳細</h2>
        <div class="d-flex justify-content-center">
          <div class="card border-success mt-3 mb-5" style="width: 36rem;">
            <div class="card-header bg-transparent border-success">
              <%= attachment_image_tag @post.customer, :profile_image, :fill, 60, 60, fallback: "no_image.png",size: "60x60",class:"mr-4 mt-2 rounded-circle";  %>
              <%= link_to @post.customer.username, customer_path(@post.customer.id)  %>
            </div>
              <div class="card-body">
                <h4 class ="card-title"><%=@post.title %></h4>
                  <p class="card-text">
                    <% if @post.status == "トレーニングメニュー" %>
                      <h5 class="text-danger"><%= @post.status %></h5>
                    <% elsif @post.status == "食事" %>
                      <h5 class="text-info"><%= @post.status %></h5>
                    <% else @post.status == "知識" %>
                      <h5 class="text-primary"><%= @post.status %></h5>
                    <% end %>
                  </p>
                  <p class="card-text"><%= simple_format @post.body %></p>
                  <div>
                    <p><%= attachment_image_tag @post,:image, :fill,60,60 %></p>
                  </div>
              </div>
            <div class="card-footer bg-transparent border-success">
              <p class="mt-2 mb-3">Post Day : <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
              <div>
                <span id="posts_<%= @post.id %>">
                  <%= render "public/favorites/favorite", posts: @post %>
                </span>
                <span id="post_<%= @post.id %>">
                  <%= render "public/posts/comment" %>
                </span>
              </div>
                <p class="mt-2 mb-3"><%= link_to "いいねしたユーザー一覧を表示", from_favorite_path(@post),class:"btn btn-outline-danger" %></p>
            </div>
          </div>
        </div>


        <div>
          <div class="new-comment">
            <%= form_with(model:[@post, @post_comment], class: 'js-form') do |f| %>
              <p><%= f.text_area :comment,placeholder: "コメントをここに",size:"50x5" %></p>
              <p><%= f.submit "コメントする", class:"btn btn-primary mt-3" %></p>
            <% end %>
          </div>

          <div id="post_comment_<%= @post.id %>">
            <%= render "public/post_comments/comment" %>
          </div>
          <div class="more"><%= link_to_next_page @comments, 'もっと見る', remote: true, id: 'view_more',class:"btn btn-primary mt-3 mb-5" %></div>
        </div>
    </div>
  </div>

