  <div class ="container">
    <div class="box mt-3">
      <h2 class="title mt-5">投稿詳細</h2>
        <h4 class="post-genre">投稿ジャンル</br>
          <% if @post.status == "トレーニングメニュー" %>
            <h5 class="post-genre-link"><%= link_to @post.status,posts_training_path %></h5>
          <% elsif @post.status == "食事" %>
            <h5 class="post-gere-link"><%= link_to @post.status,posts_eat_path %></h5>
          <% else @post.status == "知識" %>
            <h5 class="post-genre-link"><%= link_to @post.status,posts_info_path %></h5>
          <% end %>
        </h4>
        <div class="post-show">
          <div class="l-wrapper">
            <div class="card">
              <%= render partial: "post_header", locals:{posts: @post} %>
              <%= render partial: "post_main", locals:{posts: @post} %>
              <div class="card-link">
                <span class="mr-3">投稿日 : <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                <span id="posts_<%= @post.id %>">
                  <%= render "public/favorites/favorite", posts: @post %>
                </span>
                <span id="post_<%= @post.id %>">
                  <%= render "public/posts/comment" %>
                </span>
                <p class="card-text"><%= link_to "この投稿をお気に入りしたユーザー一覧を表示", from_favorite_path(@post) %></p>
                <% if @post.customer_id == current_customer.id %>
                  <span class="post-edit mr-2"><%= link_to "編集",edit_post_path(@post.id), class:"btn btn-info btn-sm"  %></span>
                  <span class="post-delete"><%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-sm"  %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      <div>
        <div class="new-comment">
          <%= form_with(model:[@post, @post_comment], class: 'js-form') do |f| %>
            <p><%= f.text_area :comment,placeholder: "コメントをここに",size:"90%x5" %></p>
            <p><%= f.submit "コメントする", class:"btn btn-primary mt-3" %></p>
          <% end %>
        </div>

        <div id="post_comment_<%= @post.id %>">
          <%= render "public/post_comments/comment" %>
        </div>
        <div class="more"><%= link_to_next_page @comments, 'もっと見る', remote: true, id: 'view_more',class:"btn btn-primary mt-3 mb-5" %></div>
      </div>

    </div>
  </div>

