  <div class ="container">
    <div class="box mt-3">
      <h2 class="title mt-3">投稿詳細</h2>
        <div class="d-flex justify-content-center">
          <div class="card border-success mt-3 mb-5" style="width: 36rem;">
            <div class="card-header bg-transparent border-success">
              <%= attachment_image_tag @post.customer, :profile_image, :fill, 60, 60, fallback: "no_image.png",size: "60x60",class:"mr-4 mt-2 rounded-circle";  %>
              <%= link_to @post.customer.username, customer_path(@post.customer.id)  %>
            </div>
              <div class="card-body">
                <% if @post.status == "トレーニングメニュー" %>
                  <h5 class="card-title text-danger"><%= @post.status %></h5>
                <% elsif @post.status == "食事" %>
                  <h5 class="card-title text-info"><%= @post.status %></h5>
                <% else @post.status == "知識" %>
                  <h5 class="card-title text-primary"><%= @post.status %></h5>
                <% end %>
                  <p class="card-text">Day：<%=@post.day %></p>
                  <p class="card-text"><%= simple_format @post.body %></p>
                  <div>
                    <p><%= attachment_image_tag @post,:image, :fill,60,60 %></p>
                  </div>
              </div>
            <div class="card-footer bg-transparent border-success">
              Post Day : <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
              <span>
                いいね <%= @post.favorites.count %>
              </span>
              <span>
                コメント <%= @post.post_comments.count %>
              </span>
            </div>
          </div>
        </div>

        <div>
          <div class="new-comment">
            <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
              <p><%= f.text_area :comment,placeholder: "コメントをここに",size:"50x5" %></p>
              <p><%= f.submit "コメントする", class:"btn btn-primary mt-3" %></p>
            <% end %>
          </div>
        </div>

    <% @post.post_comments.each do |post_comment| %>
      <div class="d-flex justify-content-center">
        <div class="card bg-light mb-3 mt-3" style="width: 24rem;">
          <div class="card-header">
            <%=attachment_image_tag post_comment.customer, :profile_image, :fill,60,60,fallback: "no_image.png",size:"60x60", class:"mt-2  mr-4 rounded-circle"; %>
            <%=link_to post_comment.customer.username,customer_path(post_comment.customer) %>
          </div>
            <div class="card-body">
              <h5 class="card-title"><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %></h5>
              <p class="card-text"><%= simple_format post_comment.comment %></p>
            </div>
          <div class="card-footer">
              <% if post_comment.customer == current_customer %>
                <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"btn btn-outline-danger" %>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>