  <div class ="container">
    <section class="toppage-about">
      <div class="main-area">
        <div class="about-img-area">
          <%= image_tag "img/sample2.jpg" %>
          <div class="about-img-logo"><%= image_tag "img/logo3.jpg" %></div>
        </div>
        <div class="discription">
          <h2 class="about-title">
            ABOUT THIS SITE
          </h2>
          <div class="box17">
            <p class="about-text-title">元フィットネスクラブ社員考案！</br>フィットネス専門サイト</p>
            <p>運動をする人が、「楽しみながら」・「効果を出す」為の機能を搭載！</p>
            <p>フィットネス施設様へはより運営がしやすくなる機能を搭載しております！</p>
            <p>当サイトがユーザーとフィットネスクラブの架け橋となります！</p>
          </div>
        </div>
      </div>
    </section>

    <section class="user-about">
      <div class="main-area">
        <div class="discription">
          <h2 class="user-about-title">
            ユーザーとして使う
          </h2>
          <div class="box17">
            <li>「運動」、「食事」、「情報の共有」の３つのカテゴリーで投稿できます！</li>
            <li>他のユーザーとメッセージのやりとりができます！</li>
            <span><%= link_to "投稿を見てみる", posts_path %></span>
            <li>自分の体型に近いユーザーを検索し、自身のトレーニングメニューの参考にできます！
            </br><span class="attention">※自身の体型は設定によって非公開にできます</span></li>
            <li>フィットネスクラブに通っているお客様は自身の通っているスポーツクラブを登録し
                情報を受けとることができます！
            </br><span class="attention">※登録できるのはこのサイトに登録してあるフィットネスクラブのみです</span>
            </li>
            <span><%= link_to "登録されたフィットネスクラブを見てみる", admin_admin_users_path %></span>
          </div>
        </div>
        <div class="about-img-area">
          <%= image_tag "img/sample4.jpg" %>
          <div class="user-btn-flat-double-border">
            <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post %>
          </div>
        </div>
      </div>
    </section>

    <section class="admin-about">
      <div class="main-area">
        <div class="about-img-area">
          <%= image_tag "img/sample1.jpg" %>
          <div class="admin-btn-flat-double-border">
            <%= link_to "管理者ログイン", homes_guest_admin_sign_in_path, method: :post %>
          </div>
        </div>
        <div class="discription">
          <h2 class="admin-about-title">
            フィットネスクラブ経営者として使う
          </h2>
          <div class="box17">
            <li>営業情報やレッスンの代行案内など店舗毎に気軽に情報を発信できます！</li>
            <li>YouTubeと連携し、マシンの使用方法や施設マナーの案内動画も出すことができます！</li>
            <li>スタッフとお客様の双方が編集可能なカルテを作成でき、パーソナルトレーニングの管理がしやすくなります！</li>
          </div>
        </div>
      </div>
    </section>
  </div>