  <div class ="container">
    <div class="box mt-3 mb-3">
        <h1 class="title-home pt-5">Welcome To Fit-Support</h1>
        <span class="logo-home ml-2"><%= link_to image_tag('img/logo.jpg',width: '70',class:"mt-2 mb-4 rounded-circle"), '/' %></span>
        <h4>運動の記録や他の人の投稿からトレーニングメニューの参考にすることができるアプリです！</h4>
    </div>

    <div class="box mt-5">
      <span class="link mt-3 mr-5">
        <%= link_to 'ユーザーの機能をすぐに試す', homes_guest_sign_in_path, method: :post,class: "btn btn-warning btn-lg" %>
      </span>
      <span class="link">
        <%= link_to '管理者の機能をすぐに試す', homes_guest_admin_sign_in_path, method: :post,class: "btn btn-success btn-lg" %>
      </span>
    </div>


    <div class="box mt-5">
      <h2 class="subtitle-home">スポーツクラブからの新着情報</h2>
      <% if admin_user_signed_in? %>
        <% else %>
          <div class="mt-3 mb-3"><%= link_to "スポーツクラブからの情報一覧", public_admin_posts_path, class: "btn btn-danger" %></div>
        <% end %>
    </div>
      <div class="info-content">
        <% @posts.each do |posts| %>
         <div class="info" style="text-align: center;">
          <div class="card border-danger mt-3 mb-5" style="width: 22rem;">
            <div class="card-header bg-transparent border-danger">
              <h3 class="card-header-title"><%= link_to posts.genre.name, genre_public_admin_posts_show_path(posts.genre), class:"text-danger" %></h3>
            </div>
              <div class="card-body">
                <h4 class="card-text-title"><%= link_to posts.title,admin_post_path(posts),class:"text-dark" %></h4>
                <p class="card-text"><%= simple_format posts.body %></p>
                  <div>
                    <p class="img"><%= attachment_image_tag posts,:image, size:"300x200" %></p>
                  </div>
                  <% if posts.youtube_url.present? %>
                    <div class="youtube">
                      <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= posts.youtube_url.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <% end %>
                </div>
              <div class="card-footer bg-transparent warning">
                <div>
                  <span class="mr-3">更新日: <%= posts.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
                 </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
 </div>