  <div class ="container">
    <section class="toppage-about">
      <div class="main-area">
        <div class="about-img-area">
          <%= image_tag "img/sample2.jpg" %>
          <div class="about-img-logo"><%= image_tag "img/logo3.jpg" %></div>
        </div>
        <div class="discription">
          <h2 class="about-title">
            ABOUT THIS SITE
          </h2>
          <div class="box17">

          </div>
        </div>
      </div>
    </section>

    <section class="toppage-about">
      <div class="main-area">
        <div class="discription">
          <h2 class="user-about-title">
            ユーザーとして使う
          </h2>
          <div class="box17">

          </div>
        </div>
        <div class="about-img-area">
          <%= image_tag "img/sample4.jpg" %>
          <div class="user-btn-flat-double-border">
            <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post %>
          </div>
        </div>
      </div>
    </section>

    <section class="admin-about">
      <div class="main-area">
        <div class="about-img-area">
          <%= image_tag "img/sample1.jpg" %>
          <div class="admin-btn-flat-double-border">
            <%= link_to "管理者ログイン", homes_guest_admin_sign_in_path, method: :post %>
          </div>
        </div>
        <div class="discription">
          <h2 class="admin-about-title">
            フィットネスクラブ経営者として使う
          </h2>
          <div class="box17">

          </div>
        </div>
      </div>
    </section>
  </div>