  <div class ="container">
    <div class="box mt-3 mb-3">
        <h1>Welcome To Fit-Support</h1>
        <h4>運動の記録や他の人の投稿からトレーニングメニューの参考にすることができるアプリです！</h4>
    </div>

    <div class="box mt-5">
      <span class="link mt-3 mr-5">
        <%= link_to 'ユーザーの機能をすぐに試す', homes_guest_sign_in_path, method: :post,class: "btn btn-warning" %>
      </span>
      <span>
        <%= link_to '管理者の機能をすぐに試す', homes_guest_admin_sign_in_path, method: :post,class: "btn btn-success" %>
      </span>
    </div>


    <div class="box mt-5">
     <h2>スポーツクラブからの新着情報</h2>
     <%= link_to "スポーツクラブからの情報一覧", admin_posts_path, class: "btn btn-danger" %>
    </div>
      <div class="info-content">
        <% @posts.each do |posts| %>
         <div class="info">
          <div class="card border-warning mt-3 mb-5" style="width: 22rem;">
            <div class="card-header bg-transparent border-warning">
              <h3><%= link_to posts.genre.name, admin_genre_path(posts.genre), class:"text-danger" %></h3>
            </div>
              <div class="card-body">
                  <h4 class="card-text-title"><%= link_to posts.title,admin_post_path(posts) %></h4>
                  <p class="card-text"><%= simple_format posts.body %></p>
                  <div>
                    <p><%= attachment_image_tag posts,:image, size:"300x200" %></p>
                  </div>
                  <div>
                    <% if posts.youtube_url.present? %>
                      <iframe width="300" height="200" src="https://www.youtube.com/embed/<%= posts.youtube_url.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <% end %>
                  </div>
              </div>
              <div class="card-footer bg-transparent warning">
                <div>
                  <span class="mr-3">投稿日: <%= posts.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                 </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
 </div>




