      <% posts.each do |posts| %> <!-- @posts → posts -->
        <div class="d-flex justify-content-center">
          <div class="card border-success mt-3 mb-5" style="width: 36rem;">
            <div class="card-header bg-transparent border-success">
              <%= attachment_image_tag posts.customer, :profile_image, :fill, 60, 60, fallback: "no_image.png",size: "60x60",class:"mr-4 mt-2 rounded-circle";  %>
              <%= link_to posts.customer.username, admin_customer_path(posts.customer.id)  %>
            </div>
              <div class="card-body">
                <% if posts.status == "トレーニングメニュー" %>
                  <h5 class="card-title"><%= link_to posts.status,posts_training_path ,class:"text-danger" %></h5>
                <% elsif posts.status == "食事" %>
                  <h5 class="card-title"><%= link_to posts.status,posts_eat_path ,class:"text-warning" %></h5>
                <% else posts.status == "知識" %>
                  <h5 class="card-title"><%= link_to posts.status,posts_info_path ,class:"text-primary"%></h5>
                <% end %>
                  <h4 class="card-text-title"><%= posts.title %></h4>
                  <p class="card-text"><%= simple_format(h(posts.body)) %></p>
                  <div>
                    <p>
                    <% if posts.post_images.present? %>
                        <% posts.post_images.each do |image| %>
                          <span class="mr-2">
                            <%= attachment_image_tag image, :image, :fill, 100, 100, format: "jpeg" %>
                          </span>
                        <% end %>
                    <% end %>
                    </p>
                  </div>
              </div>
            <div class="card-footer bg-transparent border-success">
              <div>
                <span class="mr-3"><%= posts.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                <span id="posts_<%= posts.id %>">
                  <%= render "public/favorites/favorite", posts: posts %>
                </span>
             </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-center">
        <div class="page mb-5">
          <%= paginate posts %> <!-- @posts → posts -->
        </div>
      </div>