<div class="container">
  <div class="box mt-3">
    <h2 class="title mt-3">投稿作成</h2>
    <%= form_with model: @post, url:admin_posts_path, local:true do |f| %>
    <div class="field mt-3">
      <div class="label">
        <%= f.label :"投稿ジャンルの選択（必須）" %>
      </div>
      <%= f.collection_select :genre_id, current_admin_user.genres.all, :id, :name,:include_blank => "選択してください", size: 30 %>
    </div>

    <div class="field mt-3">
      <div class="label">
        <%= f.label :"タイトル（必須）"  %>
      </div>
        <%= f.text_field :title,required: true,size:"60x15" %>
    </div>

    <div class="field mt-3">
      <div class="label">
        <%= f.label :"記入欄(必須)" %>
      </div>
        <%= f.text_area :body,required: true,size:"60x15"%>
    </div>

    <div class="field mt-3">
      <div class="label">
        <%= f.label :"画像(任意)" %><br />
      </div>
          <%= f.attachment_field :image ,placeholder: "画像" %>
    </div>

    <div class="field mt-3">
      <div class="label">
        <%= f.label :"Youtube動画(任意)" %><br />
      </div>
        <%= f.text_field :youtube_url, placeholder: 'youtubeのURL',size:"40x10" %>
    </div>



    <div class="field mt-3 mb-3">
        <div class="label">
          <%= f.label :"ユーザーへの公開設定" %><br />
        </div>
        <h6 class="text">※編集画面で入力内容に誤りがないか確認した上で、公開に変更することをお勧めしております</h6>
        </div>
    <div class="actions mt-3 mb-3">
      <%= f.submit "編集画面に進む", class: "btn btn-primary mb-5" %>
    </div>
    <% end %>
  </div>
</div>
