<!DOCTYPE html>
<html>
  <head>
    <title>FitSupport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/721f0cdc29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <!--ユーザー、ログイン時のヘッダー-->
      <% if customer_signed_in? %>
        <ul class="header">
          <li class="header-item"><%= link_to image_tag('img/logo3.jpg') %></li>
          <li class="header-item"><%= link_to "マイページに戻る", customer_path(current_customer)%></li>
          <li class="header-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        </ul>


     <!--管理者ログイン時ヘッダー-->
        <% elsif admin_user_signed_in? %>
              <ul class="admin-top">
                <div class="btn-group mr-5 ml-3 mt-3">
                  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span style="font-size: 20px; color: white;" >施設関連</span>
                  </button>
                <ul class="dropdown-menu">
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "施設情報", admin_admin_user_path(current_admin_user) %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "施設情報編集", edit_admin_admin_user_path(current_admin_user) %></li>
                </ul>
                </div>

                <div class="btn-group mr-5 ml-3 mt-3">
                  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span style="font-size: 20px; color: white;" >情報作成関連</span>
                </button>
                <ul class="dropdown-menu">
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "管理者用情報作成", new_admin_post_path %></li>
                  <li class="ml-2 mt-2" style ="font-size: 15px"><%= link_to "情報ジャンルを追加する", admin_genres_path %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "作成した情報一覧", admin_posts_path %></li>
                </ul>
                </div>
                <div class="btn-group mr-5 ml-3 mt-3">
                  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span style="font-size: 20px; color: white;" >パーソナル関連</span>
                </button>
                <ul class="dropdown-menu">
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "スタッフ一覧・登録", new_admin_staff_path %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "ユーザーの登録", admin_customers_path %></li>
                </ul>
                </div>
                <div class="btn-group mr-5 ml-3 mt-3">
                  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span style="font-size: 20px; color: white;" >Login Now : <%= current_admin_user.name %></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "ユーザーの投稿を見る", admin_customer_post_path %></li>
                </ul>
                </div>
              </ul>
        <!--ログアウト時のヘッダー-->
        <% else %>
        <nav>
          <ul class="header">
            <li class="header-item"><%= link_to image_tag('img/logo3.jpg') %></li>
            <li class="header-item">
              <div class="btn-group">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span style="color: black;" >ユーザーはこちら</span>
                </button>
                <ul class="dropdown-menu">
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "ログイン", new_customer_session_path %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "アカウント作成", new_customer_registration_path %></li>
                </ul>
              </div>
            </li>
            <li class="header-item">
              <div class="btn-group">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span style="color: black;" >施設管理者はこちら</span>
                </button>
                <ul class="dropdown-menu">
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "管理者ログイン", new_admin_user_session_path %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "管理者アカウント作成",  new_admin_user_registration_path %></li>
                </ul>
              </div>
            </li>
            <li class="header-item">
              <div class="btn-group">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span style="color: black;" >すぐにアプリを使う</span>
                </button>
                <ul class="dropdown-menu">
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px"><%= link_to "管理者ログイン", homes_guest_admin_sign_in_path, method: :post %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px">
                    <%= link_to "他のユーザーアカウントでゲストログイン", homes_ather_guest_sign_in_path, method: :post %>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="ml-2" style ="font-size: 15px">
                    <%= link_to "他の管理者アカウントでゲストログイン", homes_ather_guest_admin_sign_in_path, method: :post  %>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-item"></li>
          </ul>
        </nav>

        <% end %>
        </header>

    <main class ="mb-auto">
      <div class="flash_message pt-3"><%= render 'layouts/notifications' %></div>
        <%= yield %>
    </main>
    <footer>
      <p class="footer-text">
        © All rights reserved by FitSupport.Inc.</br>
        Logo generated by <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo free logo designer</a>
      </p>
    </footer>
  </body>
</html>
