<!DOCTYPE html>
<html>
  <head>
    <title>FitSupport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    <% elsif admin_user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
      </li>
    <% else %>
      <li>
        <%= link_to "アカウント作成", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
